<ion-view title="Aloha Resort" hide-back-button="true" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="alohaResort-list1">
      <ion-item class="item-icon-left" id="alohaResort-list-item4" ui-sref="reservation">
        <i class="icon ion-document-text"></i>See your reservation</ion-item>
      <ion-item class="item-icon-left" id="alohaResort-list-item5" ui-sref="cities">
        <i class="icon ion-ios-partlysunny"></i>Current weather</ion-item>
      <ion-item class="item-icon-left" id="alohaResort-list-item6" ui-sref="localRestaurants">
        <i class="icon ion-fork"></i>Nearby restaurants</ion-item>
      <ion-item class="item-icon-left" id="alohaResort-list-item7" ui-sref="map">
        <i class="icon ion-map"></i>Map</ion-item>
    </ion-list>
  </ion-content>
</ion-view>