<ion-view title="Map" id="page7">
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <creator-map-component options="{}" marker="true" location="2005 Kalia Rd, Honolulu, HI 96815" zoom="14" style="display:block;position:relative;width:100%;height:100%;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
  </ion-content>
</ion-view>