<ion-view title="Welcome to Resort" hide-back-button="true">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <a class="button button-assertive icon No Icon" href="#/home" nav-clear=""> Start</a>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider3" delegate-handle="slider3" style="width:100%;height:100%;">
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/KQkBxdVhQrqfXPrwK20c_2565594792_d6979307ab_z.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 320px; height: 413px;"></div>
        <h3 style="color:#000000;text-align:center;">See your reservation</h3>
      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/YQ18z1TaQmOAlQMosanp_palm_tree.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="height: 413px;"></div>
        <h3 style="color:#FFF;text-align:center;">Find local restaurants</h3>
      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/2Ev6wWOR4OtzQojBMuLR_beach_storm.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="height: 413px;"></div>
        <h3 style="color:#FFFFFF;text-align:center;">Get the weather</h3>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>